language: objective-c
osx_image: xcode9.1
rvm:
  - 2.4.1
cache:
  - bundler
  - cocoapods
install:
  - bundle install --jobs=3 --retry=3 --deployment
  - bundle exec fastlane setup
script:
  - bundle exec fastlane test
  - bundle exec fastlane pod_lint
